Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple

solution-

In [1]:
string = "Hello!"
list_eg = [1,2,3,'a','b']
float_eg = 3.14
tuple_eg =('hello','world',1,2,3)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

 Solution -
 
(i) var1 = string

(ii) var2 = string

(iii) var3 = list

(iv) var4 = float

verification

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [3]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i) / - divide two numbers

(ii) % - modulo operator, gives the remainder when a number is divided by another

(iii) // - division floor, rounds of qoutient of division to the nearest integer less than quotient

(iv) ** - exponent operator, to find powers

examples-

In [4]:
print('8/6 =',8/6)
print('8%6 =',8%6)
print('8//6 =',8//6)
print('3**4 =',3**4)

8/6 = 1.3333333333333333
8%6 = 2
8//6 = 1
3**4 = 81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
my_list = [123,10.01,True,'Sa','Re','Ga','Ma','Pa','Dha','Ni']

In [6]:
for i in my_list:
    print('Element -',i)
    print('Type -', type(i))

Element - 123
Type - <class 'int'>
Element - 10.01
Type - <class 'float'>
Element - True
Type - <class 'bool'>
Element - Sa
Type - <class 'str'>
Element - Re
Type - <class 'str'>
Element - Ga
Type - <class 'str'>
Element - Ma
Type - <class 'str'>
Element - Pa
Type - <class 'str'>
Element - Dha
Type - <class 'str'>
Element - Ni
Type - <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
print('Enter A')
A=int(input())
print('Enter B')
B=int(input())
rem=A%B
i=0
if rem==0:
    while (rem==0 and A!=0):
        i+=1
        A=A/B
        rem=A%B
    print('A is divisible by B',i,'times')
else:
    print('A is not divisible by B')

Enter A

 27

Enter B

 3

A is divisible by B 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [8]:
int_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in int_list:
    rem=i%3
    if rem==0:
        print(i,'is divisbile by 3')
    else:
        print(i,'is not divisbile by 3')

1 is not divisbile by 3
2 is not divisbile by 3
3 is divisbile by 3
4 is not divisbile by 3
5 is not divisbile by 3
6 is divisbile by 3
7 is not divisbile by 3
8 is not divisbile by 3
9 is divisbile by 3
10 is not divisbile by 3
11 is not divisbile by 3
12 is divisbile by 3
13 is not divisbile by 3
14 is not divisbile by 3
15 is divisbile by 3
16 is not divisbile by 3
17 is not divisbile by 3
18 is divisbile by 3
19 is not divisbile by 3
20 is not divisbile by 3
21 is divisbile by 3
22 is not divisbile by 3
23 is not divisbile by 3
24 is divisbile by 3
25 is not divisbile by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. Mutable objects are those whose elements at particular indexes can be mutated, i.e., changed without overwriting    the complete variable. For example, list. 

Immutable objects are those whose elements at particular indexes cannot be changed, we cannot change an item at a particular index without overwriting the complete variable. For example, string. 

Below are examples of each type-

Example of mutable-

In [9]:
list1 = ['a','b','c',1,3,6]

In [10]:
list1[4]

3

In [11]:
list1[4]=0

In [12]:
list1[4]

0

In [13]:
list1

['a', 'b', 'c', 1, 0, 6]

Example of immutable-

In [14]:
str1="Power"

In [15]:
str1[0]

'P'

In [16]:
str1[0]='T'

TypeError: 'str' object does not support item assignment