# MongoDB Assignment

In [2]:
import pymongo

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans. MongoDB is a kind of NoSQL database. It stands for **Not Only SQL**. Unlike SQL, which is relational MongoDB is a kind of non-relational database mangement system. 

In non-relational databases, data is not stored in form of rows and columns in tables like we do in relational. Here, data is stored in form of collections/documents, for example in the form of JSON files, whic are like key-value pairs (dictionaries) of Python. Non-relational databases are very flexibile and scalable. Useful for storing unstructured or semi-structued data.

MongoDB is useful where we have to deal with rapidly changing and unstructured data. So it is used in E-commerce platforms, Content-management system, Internet of Things, Blogs, Storing our social media profiles, etc.

Q2. State and Explain the features of MongoDB.

Ans. Features of MongoDB are:

1. It is a non-relational database mangement system.
2. It is document based not table based. We use JSON files.
3. It is useful for dealing with unstructured and semi-structured data.
4. It is very flexible and scalable.
5. It is good for rapidly changing data, so it is used in real time data analysis.
6. It also supports geo-spatial analysis.
7. It can be easily integrated.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
#Solution-3

#connecting to MongoDB

url = "mongodb+srv://yash:ShriMahadevi64@cluster0.hykq2br.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = pymongo.MongoClient(url)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
#Creating a database
my_db = client["DB_for_Assignment"]

In [30]:
#creating a collection
my_coll = my_db["my_collection"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [32]:
#inserting one record
data_1 = {'Mo':'Monday',
          'Tu':'Tuesday',
          'We':'Wednesday'}
my_coll.insert_one(data_1)

In [6]:
#PRINTING USING FIND ONE
my_coll.find_one()

{'_id': ObjectId('648ec0519204ead864516189'),
 'Mo': 'Monday',
 'Tu': 'Tuesday',
 'We': 'Wednesday'}

In [31]:
#INSERTING MANY RECORDS
data_2 = [{'Name': 'Katty', 'Age':24, 'Phone':123987645},
          {'Name': 'Shawn', 'Age':34, 'Phone':764387645},
         {'Name': 'Baron', 'Age':20, 'Phone':9876456739},
         {'Name': 'Chris', 'Age':56, 'Phone':876094534},
         {'Name': 'Tom', 'Age':22, 'Phone':3456987},
         {'Name': 'Robert', 'Age':65, 'Phone':997866453},
         {'Name': 'Helena', 'Age':43, 'Phone':95698453}]

my_coll.insert_many(data_2)

In [32]:
#printing many records
for i in my_coll.find():
    print(i)

{'_id': ObjectId('648ebf8c9204ead864516181'), 'Mo': 'Monday', 'Tu': 'Tuesday', 'We': 'Wednesday'}
{'_id': ObjectId('648ebf929204ead864516182'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ebf929204ead864516183'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ebf929204ead864516184'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ebf929204ead864516185'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ebf929204ead864516186'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ebf929204ead864516187'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ebf929204ead864516188'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [33]:
for i in my_coll.find({'Age':{'$gte':30}}):
    print(i)

{'_id': ObjectId('648ebf929204ead864516183'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ebf929204ead864516185'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ebf929204ead864516187'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ebf929204ead864516188'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans. sort() method is used to sort the objects of a collection of MongoDB based on certain criteria in ascending or descending order.

Examples below:

In [21]:
#creating a new collection for sorting
coll_2 = my_db["Coll_for_sort"]

coll_2.insert_many(data_2)

In [22]:
print("Unsorted data objects:\n")
for i in coll_2.find():
    print(i)

Unsorted data objects:

{'_id': ObjectId('648ec45eb494b270f8cb24f8'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ec45eb494b270f8cb24f9'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ec45eb494b270f8cb24fa'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ec45eb494b270f8cb24fb'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ec45eb494b270f8cb24fc'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ec45eb494b270f8cb24fd'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ec45eb494b270f8cb24fe'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}

In [24]:
print("Objects sorted by name field are:\n")
for i in coll_2.find().sort('Name'):
    print(i)

Objects sorted by name field are:

{'_id': ObjectId('648ec45eb494b270f8cb24fa'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ec45eb494b270f8cb24fb'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ec45eb494b270f8cb24fe'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}
{'_id': ObjectId('648ec45eb494b270f8cb24f8'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ec45eb494b270f8cb24fd'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ec45eb494b270f8cb24f9'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ec45eb494b270f8cb24fc'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}

In [25]:
print("Objects sorted by age field are:\n")
for i in coll_2.find().sort('Age'):
    print(i)

Objects sorted by age field are:

{'_id': ObjectId('648ec45eb494b270f8cb24fa'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ec45eb494b270f8cb24fc'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ec45eb494b270f8cb24f8'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ec45eb494b270f8cb24f9'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ec45eb494b270f8cb24fe'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}
{'_id': ObjectId('648ec45eb494b270f8cb24fb'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ec45eb494b270f8cb24fd'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}

In [27]:
print("Objects sorted by name field in descending are:\n")
for i in coll_2.find().sort('Name',-1):
    print(i)

Objects sorted by name field in descending are:

{'_id': ObjectId('648ec45eb494b270f8cb24fc'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ec45eb494b270f8cb24f9'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ec45eb494b270f8cb24fd'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ec45eb494b270f8cb24f8'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ec45eb494b270f8cb24fe'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}
{'_id': ObjectId('648ec45eb494b270f8cb24fb'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ec45eb494b270f8cb24fa'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}

In [28]:
print("Objects sorted by age field in descending are:\n")
for i in coll_2.find().sort('Age',-1):
    print(i)

Objects sorted by age field in descending are:

{'_id': ObjectId('648ec45eb494b270f8cb24fd'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ec45eb494b270f8cb24fb'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ec45eb494b270f8cb24fe'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}
{'_id': ObjectId('648ec45eb494b270f8cb24f9'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ec45eb494b270f8cb24f8'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ec45eb494b270f8cb24fc'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ec45eb494b270f8cb24fa'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans.
1. delete_one() is used to delete only one single object of a database collection
2. delete_many() is used to delete multiple objects of a database collection. We can specify the condition. The records that fulfill the condition will be deleted
3. drop() is used to delete an entire collection/document

Examples are as follows-

In [34]:
#Solution-7

print('Initial objects of collection :\n')
for i in my_coll.find():
    print(i)
    
#use of delete_one()
my_coll.delete_one({'Mo':'Monday'}) #the first object containing this pair gets deleted

print('\nRemaining objects of collection after delete_one() :\n')
for i in my_coll.find():
    print(i)

Initial objects of collection :

{'_id': ObjectId('648ebf8c9204ead864516181'), 'Mo': 'Monday', 'Tu': 'Tuesday', 'We': 'Wednesday'}
{'_id': ObjectId('648ebf929204ead864516182'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ebf929204ead864516183'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ebf929204ead864516184'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ebf929204ead864516185'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ebf929204ead864516186'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ebf929204ead864516187'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ebf929204ead864516188'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}

Remaining objects of collection after delete_one() :

{'_id': ObjectId('648ebf929204ead864516182'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ebf929204ead864516183'), 'Name': 'Shawn', 'Age': 34, 'Phone': 764387645}
{'_id': ObjectId('648ebf929204ead864516184'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ebf929204ead864516185'), 'Name': 'Chris', 'Age': 56, 'Phone': 876094534}
{'_id': ObjectId('648ebf929204ead864516186'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}
{'_id': ObjectId('648ebf929204ead864516187'), 'Name': 'Robert', 'Age': 65, 'Phone': 997866453}
{'_id': ObjectId('648ebf929204ead864516188'), 'Name': 'Helena', 'Age': 43, 'Phone': 95698453}

In [35]:
#use of delete_many()
my_coll.delete_many({'Age':{'$gte':30}}) #all the objects satisfying this condition gets deleted

print('\nRemaining objects of collection after delete_many() :\n')
for i in my_coll.find():
    print(i)

Remaining objects of collection after delete_many() :

{'_id': ObjectId('648ebf929204ead864516182'), 'Name': 'Katty', 'Age': 24, 'Phone': 123987645}
{'_id': ObjectId('648ebf929204ead864516184'), 'Name': 'Baron', 'Age': 20, 'Phone': 9876456739}
{'_id': ObjectId('648ebf929204ead864516186'), 'Name': 'Tom', 'Age': 22, 'Phone': 3456987}

In [33]:

print('Collections in my_db before use of drop():')
[i for i in my_db.list_collection_names()]

Collections in my_db before use of drop():

['my_collection', 'Coll_for_sort']

In [34]:
#use of drop()
my_coll.drop()

print('Collections in my_db after use of drop():')
[i for i in my_db.list_collection_names()]
#this returns empty list as collection is deleted

Collections in my_db after use of drop():

['Coll_for_sort']

In [37]:
#closing the connection
client.close()