# MySql Assignments

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A Database is a large structured collection of data that is used for better manipulation, storage and retreival of data. Data is stored in form of database objects such as tables. Databases are used almost everywhere such as in Schools, E Commerce, Web Development, etc.

**SQL** - It stands for **Structured Query Language**. It is a kind of Relational Database Management system. Here Data is organized in structured format in the form of rows and tables. It is more structured. For example, we can't under number in column of name. 

Example, MySQL.

**NoSQL** - It stands for **Not only SQL**. It used for storing semi-structured or unstructured data. It is very flexible system of storing data. Here data is stored in form of key-value pair, documents etc. 

Example, MongoDB

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for **Data Definition Language**. It refers to those set of SQL commands which can be used to create and alter Database and Database objects such as Tables and columns, etc. But these can't be used to create data or new records. They are used to define the general structure of tables.

CREATE - It can be used to create a new database or a table.

DROP - It can be used to delete a table or database.

ALTER - It can be used to change the structure of a table.

TRUNCATE - It is used to delete all records of a table.

Examples are given below-

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()

#EXAMPLE OF USE OF CREATE-
#CREATING A DATABASE
mycursor.execute("CREATE DATABASE if not exists MY_DB")

#CREATING A TABLE AND PUTTING VALUES
mycursor.execute("CREATE TABLE if not exists MY_DB.SPIDERMAN(ID INT, NAME VARCHAR(50), ROLE_PLAYED VARCHAR(50)) ")

mycursor.execute("insert into MY_DB.SPIDERMAN values(1,'Tobey Maguire','Spider-Man (sony)')")
mycursor.execute("insert into MY_DB.SPIDERMAN values(2,'Andrew Garfield','Amazing Spider-man (sony)')")
mycursor.execute("insert into MY_DB.SPIDERMAN values(3,'Tom Holland','Spider-man (sony)')")

#Creating another table
mycursor.execute("CREATE TABLE if not exists MY_DB.X_MEN(ID INT, NAME VARCHAR(50), ROLE_PLAYED VARCHAR(50)) ")

print("We see that Database named MY_DB has been created :")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

mydb.commit()
mydb.close()

We see that Database named MY_DB has been created :
('MY_DB',)
('TEST',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()
#USE OF DROP
print("Tables in MY_DB before use of Drop :")
mycursor.execute("SHOW TABLES IN MY_DB")
for i in mycursor:
    print(i)

#USE OF DROP

mycursor.execute("DROP TABLE MY_DB.X_MEN")

print("\nTables in MY_DB after use of Drop :")
mycursor.execute("SHOW TABLES IN MY_DB")
for i in mycursor:
    print(i)
mydb.commit()
mydb.close()

Tables in MY_DB before use of Drop :
('SPIDERMAN',)
('X_MEN',)

Tables in MY_DB after use of Drop :
('SPIDERMAN',)

In [4]:
#USE OF ALTER
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()

print("COLUMNS BEFORE ALTER:")
mycursor.execute("show columns from TEST.student")
for i in mycursor.fetchall():
    print(i)

mycursor.execute("ALTER TABLE TEST.student ADD COLUMN AGE INT")

print("\nCOLUMNS AFTER ALTER:")
mycursor.execute("show columns from TEST.student")
for i in mycursor.fetchall():
    print(i)
    
mydb.commit()

COLUMNS BEFORE ALTER:
('ID', b'int', 'YES', '', None, '')
('NAME', b'varchar(50)', 'YES', '', None, '')
('CLASS', b'int', 'YES', '', None, '')

COLUMNS AFTER ALTER:
('ID', b'int', 'YES', '', None, '')
('NAME', b'varchar(50)', 'YES', '', None, '')
('CLASS', b'int', 'YES', '', None, '')
('AGE', b'int', 'YES', '', None, '')

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()
mycursor.execute("select * from MY_DB.SPIDERMAN")

print('Data in table before Truncate:')
for i in mycursor:
    print(i)

mycursor.execute("TRUNCATE TABLE MY_DB.SPIDERMAN")

mycursor.execute("select * from MY_DB.SPIDERMAN")

print('\nData in table after Truncate:')
for i in mycursor:
    print(i)

mydb.commit()

Data in table before Truncate:
(1, 'Tobey Maguire', 'Spider-Man (sony)', None, None)
(2, 'Andrew Garfield', 'Amazing Spider-man (sony)', None, None)
(3, 'Tom Holland', 'Spider-man (sony)', None, None)

Data in table after Truncate:

We see that no data gets displayed after TRUNCATE as it deletes all data.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for **Data Manipulation Language**. These instructions are used to modify data and records of a table, such as adding new records, updating the records or deleting them.

INSERT - it is used to insert new values

UPDATE - it is used to update existing records of table

DELETE - it is used to delete records of table

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()

#CREATING A TABLE AND PUTTING VALUES
mycursor.execute("CREATE TABLE if not exists TEST.student(ID INT, NAME VARCHAR(50), CLASS INT) ")

#USE OF INSERT
mycursor.execute("INSERT into TEST.student values(1,'Chris Evans',12)")
mycursor.execute("INSERT into TEST.student values(2,'Robert Downy Jr.',11)")
mycursor.execute("INSERT into TEST.student values(3,'Scarlett Johnson',10)")
mycursor.execute("INSERT into TEST.student values(4,'Bria Larson',12)")
mycursor.execute("INSERT into TEST.student values(5,'Mark Ruffalo',10)")

mycursor.execute("select * from TEST.student")

for i in mycursor.fetchall():
    print(i)
mydb.commit()

(1, 'Chris Evans', 12)
(2, 'Robert Downy Jr.', 11)
(3, 'Scarlett Johnson', 10)
(4, 'Bria Larson', 12)
(5, 'Mark Ruffalo', 10)

In [4]:
#USE OF UPDATE
mycursor.execute("UPDATE TEST.student SET CLASS=11 WHERE CLASS=10")

mycursor.execute("select * from TEST.student")

print("UPDATE RECORDS :")
for i in mycursor.fetchall():
    print(i)
mydb.commit()

UPDATE RECORDS :
(1, 'Chris Evans', 12)
(2, 'Robert Downy Jr.', 11)
(3, 'Scarlett Johnson', 11)
(4, 'Bria Larson', 12)
(5, 'Mark Ruffalo', 11)

In [7]:
#USE OF DELETE
mycursor.execute("DELETE FROM TEST.student  WHERE CLASS=12")

mycursor.execute("select * from TEST.student")

print("WE SEE TWO RECORDS HAVE BEEN DELETED :")
for i in mycursor.fetchall():
    print(i)
mydb.commit()
mydb.close()

WE SEE TWO RECORDS HAVE BEEN DELETED :
(2, 'Robert Downy Jr.', 11)
(3, 'Scarlett Johnson', 11)
(5, 'Mark Ruffalo', 11)

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for **Data Query Language**. It is the set of instructions which are used to fetch or retrieve data rom a table. For example these can be used to find dat based on some condition.

SELECT - this command can be used to retreive data from a table, we  can also provide some condition.

Examples:

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()

#selecting all data
mycursor.execute("SELECT * from TEST.student")

for i in mycursor.fetchall():
    print(i)

mydb.commit()

(2, 'Robert Downy Jr.', 11)
(3, 'Scarlett Johnson', 11)
(5, 'Mark Ruffalo', 11)

In [23]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()
#selecting with condition
mycursor.execute("SELECT ID, NAME FROM TEST.student WHERE ID=3")

for i in mycursor.fetchall():
    print(i)

mydb.commit()
mydb.close()

(3, 'Scarlett Johnson')

Q5. Explain Primary Key and Foreign Key.

Ans. A Primary Key is used to uniquely identify ecah row in a table in a database. It can be defined using a single column or group of columns. It's features are:

- Uniqueness - It should be unique, two rows can't have same primary key. For example, username is unique.
- Non-Nullability - It should not be null, it should have some value
- Immutability - It can't be changed

A Foreign key is a field or column in one table (child) that is used to refer to the Primary key in another table(Parent). It is used to establish relations between different tables in Relational Database Management System.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans. The python code shown below shows connecting to MySQL and prints the available databases.

cursor() - it is an objectt which is used to interact with the database. For example, in the code below mycursor is used to select and display all rows of a table.

execute() - this method is used to execute any MySQL query from Python. We simply have to type the MySQL query as string to this method.

Example:

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"    
)
mycursor = mydb.cursor()

#CREATING A DATABASE
mycursor.execute("CREATE DATABASE if not exists TEST")

#CREATING A TABLE AND PUTTING VALUES
mycursor.execute("CREATE TABLE if not exists TEST.marvel(ID INT, NAME VARCHAR(50), ROLE_PLAYED VARCHAR(50)) ")

mycursor.execute("insert into TEST.marvel values(1,'Chris Evans','Captain America')")
mycursor.execute("insert into TEST.marvel values(2,'Robert Downy Jr.','Iron Man')")
mycursor.execute("insert into TEST.marvel values(3,'Scarlett Johnson','Black Widow')")
mycursor.execute("insert into TEST.marvel values(4,'Bria Larson','Captain Marvel')")
mycursor.execute("insert into TEST.marvel values(5,'Mark Ruffalo','Hulk')")

mycursor.execute("select * from TEST.marvel")



for i in mycursor.fetchall():
    print(i)
mydb.commit()
mydb.close()

(1, 'Chris Evans', 'Captain America')
(2, 'Robert Downy Jr.', 'Iron Man')
(3, 'Scarlett Johnson', 'Black Widow')
(4, 'Bria Larson', 'Captain Marvel')
(5, 'Mark Ruffalo', 'Hulk')

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The order of execution of SQL queries is as follows-

1. FROM: Specifies the tables or views from which the data will be retrieved.
2. WHERE: Applies conditions to filter the rows based on specific criteria.
3. GROUP BY: Groups the rows based on specified columns to perform aggregate functions.
4. HAVING: Filters the grouped rows based on specified conditions.
5. SELECT: Specifies the columns to be retrieved from the tables.
6. DISTINCT: Removes duplicate rows from the result set.
7. ORDER BY: Sorts the result set based on specified columns.
8. LIMIT/OFFSET: Restricts the number of rows returned or skips a certain number of rows.
9. UNION/INTERSECT/EXCEPT: Combines multiple result sets or performs set operations.
10. INSERT/UPDATE/DELETE: Modifies the data in the database based on specified conditions.
11. COMMIT/ROLLBACK: Confirms or cancels the changes made to the database.
12. LOCKING: Applies locks to the database objects to manage concurrency and data integrity.
13. EXECUTE: Executes stored procedures or functions.
14. FETCH: Retrieves a specific number of rows from the result set.
15. UNION/INTERSECT/EXCEPT (ALL): Performs set operations on multiple result sets, allowing duplicates.
16. SELECT DISTINCT: Removes duplicate rows from the result set after the SELECT clause has been executed.
17. ORDER BY (with expressions): Sorts the result set based on expressions or calculated values.
18. LIMIT/OFFSET (with FETCH FIRST): Restricts the number of rows returned or skips rows using FETCH FIRST syntax.
19. FETCH (with OFFSET): Retrieves a specific number of rows starting from a particular offset.